{% extends "dashboard/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="border rounded container m-4 p-4 col-8 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="form-group mt-2">
                    <legend class="border-bottom mb-4">Add Event</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}