{% extends "dashboard/base.html"%}
{% block content %}
<div class="content-section mt-4">
    <div class="mb-4">
        <a href="{% url 'logout' %}" style="float:right;">Log-out</a>
        <h1>All Blogs</h1>
    </div>
    {% for category, posts in posts_by_categories.items %}
        {% if posts|length > 0 %}
            <div class="section">
                <h4>{{ category }}</h3>
                {% for post in posts %}
                    {% if not post.draft %}
                    <div class="card mb-3">
                        <div class="row g-0" style="max-height: 100px;overflow-y: hidden;">
                            <div class="col-md-2">
                                <img src="{{ post.image.url }}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text blog-summary">{{ post.summary }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        <hr class="mb-4">
        {% endif %}
    {% endfor %}
<a href="{% url 'list-doctors' %}" class="position-fixed bottom-0 end-0 m-5 btn btn-primary" style="box-shadow: 0px 0px 10px;">Book Appoinment</a>
</div>
{% endblock %}