<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body onload="truncate()">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        function wordlimit(s) {
            count = 0;
            last = 0;
            for (let i = 0; i < s.length; i++) {
                if(s[i] === ' '){
                    count++;
                    if(count > 16){
                        return s.slice(0,last) + '...'
                    }
                    last = i;
                }
            }
            return s;
        }
        function truncate(){
            l = document.getElementsByClassName('blog-summary')
            for (let i = 0; i < l.length; i++){
                l[i].innerText = wordlimit(l[i].innerText);
            }
        }
    </script>
</body>

</html>